{% extends '::layout.html.twig' %}

{% block mi_film %}
    {#{ app.debug }#}
    <h1>Films list</h1>
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'film.slug') }}</th>
                <th{% if pagination.isSorted('film.titre') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'film.titre') }}
                </th>
                <th{% if pagination.isSorted('film.description') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Description', 'film.description') }}
                </th>
                <th>Id</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, film in pagination %}
                <tr class="{% if loop.index is even %}success{% else %}warning{% endif %}">
                    <td><a href="{{ path('film_show', { 'slug': film.slug }) }}">{{ film.slug }}</a></td>
                    <td>{{ film.titre }}</td>
                    <td>{{ film.description }}</td>
                    <td>{{ film.id }}</td>
                    <td>
                        <table>
                            {% for category in film.categories %}
                                <tr>
                                    <td>{{loop.index ~"- " ~ category.libelle }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('film_show', { 'slug': film.slug }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('film_edit', { 'slug': film.slug }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {#<tr>
                    <td>key : {{ key }}</td>
                    <td>index : {{ loop.index }} </td>
                    <td>index 0 : {{ loop.index0 }}</td>
                    <td>revindex : {{ loop.revindex }}</td>
                    <td>revindex0 : {{ loop.revindex0 }}</td>
                    <td>first : {{ loop.first }}</td>
                    <td>last: {{ loop.first }}, length: {{ loop.length }}</td>
                </tr>#}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
